<h1>users index</h1>

<h2>User info</h2>
<tbody>
    <%= image_tag @user.get_profile_image(100,100) %>
    <tr>
        <th>name</th>
        <th><%= @user.name %></th>
    </tr>
    <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
    </tr>
    
    <%= link_to edit_user_path(@user.id),class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
    
</tbody>

<!--投稿フォーム-->
<h1>New book</h1>
<%= form_with model: @booknew do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Opinion</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %>
<% end %>

<table>
  <h1>Users</h1>
    <thead>
        <tr>
         <th>image</th>
         <th>name</th>
         <th colspan="3"></th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tbody>
        <tr>
        <td><%=image_tag user.get_profile_image(100,100) %></td>
        <td><%= user.name %></td>
        <td><%=link_to "Show",user_path(user.id) %></td>
        </tr>
        </tbody>
      <% end %>
    </table>
    