<h1>welcome to <i class="fas fa-book"></i>bookers!!</h1>
<p>In<i class="fas fa-book"></i>Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions
   about various books!</p>

  <% if user_signed_in? %>
    <%= link_to "Log in",user_path(current_user.id) %>
    <%= link_to "Sign up",user_path(current_user.id) %>
  <% else %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up",new_user_registration_path %>
  <% end %>